.App {
  text-align: center;
}

#header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 20px;
}

#header>h1{
  color: rgb(221, 50, 50);
  padding: 10px;
  text-decoration: underline;

}

.post{
  margin: 20px;
  margin-left: 0;
  background-color: rgba(221, 50, 50, 0.699);
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  border-left: 10px solid yellow;
  padding: 10px;

  
}

.post-link{
  text-decoration: none;
  color: yellow;
  list-style: none;
  padding: 10px;
}

.post-link>li>h2{
  margin: 0;
  margin-bottom: 10px;
}





.create{
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  background-color: white;
  box-shadow: none;
  transition: all 100ms ease 10ms;
  margin-right: 10px;
}

.create:hover{
  background-color: rgba(177, 164, 164, 0.123);
  box-shadow: 2px 2px 8px black;
}

#posts{
  margin: 20px;
  padding: 20px;
  background-color: rgba(216, 230, 27, 0.13);
  padding-top: 5px;
  border-radius: 10px;
  box-shadow: 0;
  transition: box-shadow 100ms ease 10ms;
}

#posts:hover{
  box-shadow: 3px 3px 8px gray;

}


#form-section{
  display: flex;
  justify-content: center;
}

#form-section>form{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  background-color: rgba(255, 235, 205, 0.685);
  border-radius: 10px;
  box-shadow: none;
  transition: box-shadow 100ms ease 10ms;
}

#form-section>form:hover, #form-section>form>button:hover, #ind-post-div>button:hover{
  box-shadow: 2px 2px 8px black;
}


#form-section>form>label{
  margin-top: 20px;
  margin-bottom: 5px;
}

#form-section>form>button{
  margin-top: 20px;
  width: max-content;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid white;
  background-color: rgb(223, 219, 219);
  padding: 5px;
  box-shadow: none;
  transition: box-shadow 100ms ease 10ms;
}

#form-section>form>input{
  width: 80%;
}

#form-section>form>textarea{
  min-width: 80%;
  max-width: 80%;
}

#ind-post-div{
  background-color: antiquewhite;
  color:rgb(221, 50, 50);
  margin: 0 60px;
  border-left: 10px solid rgb(221, 50, 50);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding-bottom: 10px;
}

#ind-post-div>button{
  margin-right: 10px;
  color: black;
  border: 1px solid black;
  border-radius: 2px;  
  box-shadow: none;
  transition: box-shadow 100ms ease 10ms;
  padding: 5px 10px;
}



#edit{
  text-decoration: none;
  color: black;
}








